<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5B766B328672BEC009DE53C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5D87C422864D444005804C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5DBA6FE28648D7400E009FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
